/*1369013513,178142527*/

._585-{max-width:900px;overflow:hidden;padding-left:29px;position:relative;top:5px;width:auto}
._585- ._5861, ._5861 ._586f{border:none;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:16px}
._585_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/bqhDqMUMm_K.png);background-repeat:no-repeat;background-size:auto;background-position:-23px -73px;height:17px;left:3px;opacity:0;position:absolute;top:8px;width:17px}
._585- ._5860, ._585- ._5860 .wrap{background:transparent;border:none;height:34px}
.UIInternPage ._5860{background:#3f5998}
._585- ._5861{background:none;color:#333;cursor:text;height:34px;overflow:hidden;padding:0;text-indent:2px;width:inherit}
._5861 ._586j, ._5861 ._586k, ._5861 ._586f, ._5861 ._586i{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;padding:4px 1px}
._5861 ::-ms-clear{display:none}
._5861 ._586f{padding-left:0}
._5861 ._586j, ._5861 ._586k, ._5861 ._586i, ._5861 ._586f{height:24px;line-height:24px}
._5861 ._586i, ._5861 ._586f{color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .2)}
._5861 ._586h{color:#6779bc}
._5861 .DOMControl_placeholder, ._5861 ._586j{color:#cdd9f1}
.facebarOpened ._5861 .DOMControl_placeholder, .facebarOpened ._5861 ._586j{color:#6779bc}
._5861 input::-webkit-input-placeholder{color:#ced5e5;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}
._5861 input:-moz-placeholder{color:#ced5e5;font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif}

#bootloader_o4Ny_ { height: 42px; }