/*1369420743,173214305*/

._58v4 .fbChatSidebar{border-left:0;border-right:1px solid rgba(0, 0, 0, .4);left:0;right:auto}
.sidebarMode ._58v4 #globalContainer, .sidebarMode ._58v4.fbx #pageHead, .sidebarMode ._58v4 #blueBar #pageHead{padding-left:205px;padding-right:0}
.sidebarMode ._58v4 .pagesVoicebar #pagesVoiceBarContent, .sidebarMode ._58v4 .fbPageBannerInner{left:102px;position:relative}

#bootloader_qYOL9 { height: 42px; }