/*1369013513,178130529*/

._532e{left:18px;max-height:50px;max-width:50px;position:absolute;top:0}
._532e .img{max-height:50px;max-width:50px}
._532f{margin-left:78px;margin-right:18px}
._532g{border:1px solid rgba(0, 0, 0, .08);display:block;margin-bottom:12px;position:relative;width:398px}
._532h{bottom:0;left:0;position:absolute;right:0;top:0}
._532i{color:#888;height:28px;overflow:hidden;width:270px}
._532j{margin:13px 10px 10px}
._532k{padding-top:2px;position:relative;z-index:1}
._532l{font-weight:bold}
._532m, ._532m a{color:#888;font-weight:normal}
._532n, ._532n a{color:#888;font-weight:normal}
.uiStreamStory .videoRedesign .uiVideoThumb, .uiStreamStory .videoRedesign .uiVideoThumb img{max-height:none;max-width:none}
.uiStreamStory .videoRedesign .uiVideoThumb img{display:block}
.uiStreamStory .videoRedesign .uiVideoThumb i{left:50%;margin:-13px 0 0 -17px;top:50%}
.uiStreamStory .videoRedesign .uiVideoThumbLoading i{left:0;margin:0;top:0}
.uiStreamStory .videoRedesign .uiVideoThumb:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_i1oDr { height: 42px; }