/*1369144180,173213727*/

._568d{background-color:#f5f7f7;border-top:1px solid #e5e5e5;padding:5px 10px;position:relative}
._568e{height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}
._568f{font-weight:bold}
._568g{position:relative;z-index:2}
._559t{margin:10px 0 0 78px;width:398px}
._559t ._559u, ._559t ._559v{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0 0;margin-bottom:10px;padding-top:10px;position:relative}
._559t ._559u:first-child{border:none;padding-top:0}
._559t ._559u:last-child, ._559t ._559v:last-child{margin-bottom:0}
._559t ._568c{border:none;margin-bottom:0}
._559w{left:463px;position:absolute;top:4px}
._559x{position:relative}
._568h, ._568i, ._568j{height:85px;position:absolute;top:0;width:398px}
._568h{overflow:hidden}
._568i{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top}
._568j{background-color:#ebeef4}
._568k{left:128px;margin-right:10px;position:absolute;top:95px}
._568l, ._568m{max-height:30px;overflow-y:hidden}
._568l{color:#fff}
._568m{color:#000}
._568n, ._568o{left:128px;line-height:1.2;max-width:250px;position:absolute;top:50px}
._568n{color:#fff}
._568o{color:gray}
._568p{background-color:#fff;border:3px solid #fff;border-radius:2px;display:block;height:99px;width:99px}
._568q{background:rgba(0, 0, 0, .3);border-radius:3px;left:13px;margin:0 7px -3px -3px;padding:1px;position:absolute;top:13px}
._568r{min-height:127px;overflow:hidden;position:relative}
._568s{border:1px solid #bbb}

#bootloader_9tiuB { height: 42px; }