/*1369428113,178178911*/

._26k{margin:80px 30px 0;text-align:center}
._26l{color:#3b5998;font-size:14px;font-weight:bold}
._4kul{word-wrap:break-word}

body._131{background:#e7ebf2}
body._131._6nw{background:#e9eaed}
._131 #contentCol{background:none;padding-top:0}
._131 #contentArea{min-height:200px;padding:0 11px 0 11px;position:relative}
._131 #contentCurve{background-color:transparent;border-bottom:1px solid #c8d1e2}
._131 iframe.SearchPageBingIframe{background:white;border-radius:3px;box-shadow:0 1px 1px 1px #dadfed;margin-top:20px;padding:20px;width:940px}
._adb{border-radius:3px;margin-bottom:16px;padding:12px}
._4c9l{width:560px}
._4b7i{margin-right:1px}
._4_4l{padding:250px 0}
._4_4l > .img{display:block;margin:0 auto}
._9pk{background:#e7ebf2;z-index:1}
._6nw ._9pk{background-color:#e9eaed}
body._54se ._9pk{background-color:#fff}
.tinyViewport ._9pk{display:none}
._a1w{z-index:2}
._a1s{position:relative;z-index:201}
._a1r
._a1w{box-shadow:0 4px 4px -2px rgba(0, 0, 0, .1)}
._a02{position:relative}
.tinyViewport ._a02{position:static}
._a09{position:absolute;-moz-transform:translateZ(0);width:572px;z-index:1}
._561t{margin-left:199px;width:471px}
._561u{margin-left:62px;width:510px}
._561r ._561v{width:490px}
._a0y{position:absolute;right:10px;top:10px}
._91e{border-bottom:1px solid #e6e6e6;font-size:15px;font-weight:bold;margin-bottom:10px;padding-bottom:10px}
._a0z{display:block;padding:5px}
._a0z:hover{background-color:#ececed}
._a5c{z-index:301 !important}
html ._a5d{background-color:#2c2c2c;color:#fff;-moz-transform:translateZ(0);-moz-user-select:none;z-index:111}
._4-r4{opacity:1;-moz-transition:opacity .5s ease-in-out}
._4-r4._c2o{opacity:.2}
._a5c ._53il ._53io{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -808px;z-index:111}
._56zv{text-align:center}
._52v-{border:0;padding:5px 10px 8px 10px}
._52v_{background:#fff;border:0}
._52w0{margin:8px 8px 0 0}
._52v- ._52w0{margin:2px 0 0 0}
._52w1{margin-top:2px}
._5rs #headNav{margin-left:0}
._5rs #pageNav{float:left}
._5rt{margin-left:10px}
._5rt .tinyman{margin-left:1px}
._5rs #pageNav .tinyman a:after{content:normal}
._5rs #navAccount{margin-right:8px}
._5rs #navAccount.openToggler #navAccountLink .menuPulldown, ._5rs #navAccount.openToggler #navAccountLink:hover .menuPulldown{background:none}
._5rs #navAccountLink .menuPulldown{background-color:none;margin-left:-4px;width:19px}
._5rs #headNav #jewelContainer .jewelFlyout{left:-298px;width:330px}
._5rs #headNav #jewelContainer #fbRequestsFlyout{left:-299px}
._5rs #jewelContainer .fbJewel .beeperNubWrapper{position:relative}
._5rs #jewelContainer .fbJewel .beeperNubWrapper .beeperNub{left:auto;position:absolute;right:8px}
._5rs .fbJewel a.jewelButton{background:transparent}
._5rs .fbJewel a.jewelButton{height:29px;margin:0;width:29px}
._5rs #jewelContainer .openToggler .jewelButton{border:0}
._5rs fbJewel .jewelCount{right:0;top:0}
._5rs .notifNegativeBase #fbNotificationsFlyout{left:-151px}
._5rs #fbRequestsJewel{margin-right:6px}
._5rs #fbMessagesJewel{margin-right:3px}
._5rs .fbJewel a.jewelButton:active, ._5rs .fbJewel a.jewelButton:focus, ._5rs .fbJewel a.jewelButton:hover{background-color:transparent}
._5rs #fbRequestsJewel a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -60px!important}
._5rs #fbRequestsJewel a.jewelButton:focus, ._5rs #fbRequestsJewel a.jewelButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -30px!important}
._5rs #fbRequestsJewel a.jewelButton:active, ._5rs #fbRequestsJewel.hasNew a.jewelButton, ._5rs #fbRequestsJewel.openToggler a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 0!important}
._5rs #fbMessagesJewel a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -150px!important}
._5rs #fbMessagesJewel a.jewelButton:focus, ._5rs #fbMessagesJewel a.jewelButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -120px!important}
._5rs #fbMessagesJewel a.jewelButton:active, ._5rs #fbMessagesJewel.hasNew a.jewelButton, ._5rs #fbMessagesJewel.openToggler a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -90px!important}
._5rs #fbNotificationsJewel a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -240px!important}
._5rs #fbNotificationsJewel a.jewelButton:focus, ._5rs #fbNotificationsJewel a.jewelButton:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -210px!important}
._5rs #fbNotificationsJewel a.jewelButton:active, ._5rs #fbNotificationsJewel.hasNew a.jewelButton, ._5rs #fbNotificationsJewel.openToggler a.jewelButton{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png)!important;background-repeat:no-repeat!important;background-size:auto!important;background-position:0 -180px!important}
._5rt #navPrivacy .navLink:after, ._5rt #navPrivacy .navLink:hover::after{display:none}
._5rt #navAccount #accountSettingsFlyout{left:-175px}
._5rt #navPrivacy .navLink{margin-right:1px}
.Locale_ja_JP #navSearch{width:325px}
.Locale_ja_JP #navSearch .uiSearchInput input{width:290px}
.hasSmurfbar.Locale_ja_JP #navSearch{width:397px}
.hasSmurfbar.Locale_ja_JP #navSearch .uiSearchInput input{width:364px}
#facebook ._578v ._6i1{width:971px}
#facebook ._4__a ._578v ._6i1{width:914px}
._578w ._585-{background-repeat:repeat-x;border-bottom:1px solid transparent;border-radius:3px;border-top:1px solid transparent;height:31px;margin-left:1px;margin-top:0;max-width:579px;padding-left:33px;-moz-transition:background .2s linear,
border .15s linear}
._578w ._5861{margin-top:-1px}
.hasSmurfbar #blueBarHolder ._578w #pageLogo{margin-left:-8px;margin-top:2px}
#facebook .hasSmurfbar #blueBarHolder ._578w #pageLogo a{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:1px -688px}
._578w ._585_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:-18px -771px;left:10px;top:9px}
._578x ._585-{background-position-y:-32px;border-bottom-color:#435d9f;border-top-color:#4b64a6}
._578y ._585-, #blueBar:hover ._578x ._585-{background-color:#445ea0;background-image:-moz-linear-gradient(rgba(0, 0, 0, .08), rgba(0, 0, 0, 0));background-position:0 0;border-bottom-color:#6378af;border-top-color:#3b4e82}
._578z ._585-, #blueBar:hover ._578y ._585-, .facebarOpened #blueBar ._578y ._585-, .facebarOpened #blueBar ._578x ._585-{background-color:#374f87;background-image:-moz-linear-gradient(rgba(0, 0, 0, .08), rgba(0, 0, 0, 0));background-position:0 0;border-bottom-color:#566eaa;border-top-color:#27365c;box-shadow:inset 0 2px 3px -2px #27365c}
._578x ._585- ._586i, ._578y ._585- ._586i, ._578z ._585- ._586i{text-shadow:0 1px 1px rgba(0, 0, 0, .33)}
._578- ._585-{background-color:#fff;border-top:1px solid #384c7f;box-shadow:inset 0 2px 3px -2px #cfcfcf;height:30px}
._578- ._585- ._586f, ._578- ._585- ._586i{color:#333;text-shadow:none}
._578- ._585- ._586j{color:#4d5769;text-shadow:none}
.facebarOpened ._578- ._585- ._586j, ._578- ._585- ._586h{color:#9ba6bb;text-shadow:none}
#facebook .hasSmurfbar #blueBarHolder ._578- #pageLogo a{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:1px -730px}
._578- ._585_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -800px}
._200{margin:10px 0;border-top:1px solid #ccc}
._201{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -771px;display:inline-block;height:14px;margin:4px 2px;width:17px}
._6i3{font-size:14px}
._6i3 ._7gk{max-width:550px;overflow:hidden}
._202{border:none;padding:0;position:relative}
._202.selected{background-color:#ececed}
.highContrast ._202.selected{border-left:10px solid transparent;margin-right:10px}
._205{position:relative;white-space:nowrap}
._6i1{display:block}
._7gk{display:block;height:56px;overflow:hidden;position:relative}
._6_k ._7gk{margin-left:59px}
._20h, ._k83{float:left;height:48px;margin:4px 0 0 4px;width:48px}
._k83 span{display:block;height:48px;width:48px}
._k83{background:#fafafa;background:-moz-linear-gradient(#fafafa, #f2f2f2)}
._20h{background-color:#fff}
._4c7a{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -637px}
._6-a{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._9rf{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -441px}
._9rg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -392px}
._9rh{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -539px}
._9ri{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -245px}
._9rj{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -98px}
._9rk{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -490px}
._9rl{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -49px}
._a0i{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -343px}
._hya{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -294px}
._hyb{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -147px}
._485s{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -196px}
._4-vy{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-repeat:no-repeat;background-size:auto;background-position:0 -588px}
._205, ._205:hover{outline:none;text-decoration:none}
._53ad{display:inline-block;float:left;font-family:Helvetica, Arial, sans-serif;line-height:20px;margin:18px 0}
._55y-._53ad{margin:8px 0}
._a0t{color:#636363;font-size:82%}
._a0s{color:#636363}
._a0s:hover{color:#333;text-decoration:none}
._205, ._205 .fragmentUnchanged{color:#999}
._53ad, ._5av{color:#333}
._205 .fragmentEnt{font-weight:700}
._6ji, html ._474s ._6ji{display:none}
.selected ._6ji, .forceShowSubcomponents ._6ji{display:inline}
._6ji{background-color:#ececed;color:gray;float:right;font-size:11px;font-weight:normal;line-height:16px;margin:20px 0;text-align:right;text-transform:uppercase}
._78d{color:#535353;font-weight:bold}
._6i2{margin-top:-11px;position:absolute;right:8px;top:50%}
._6i2 .uiButton span{color:#333 !important}
._6i2 .morePlain{padding:4px 7px}
.selected ._6i2 .moreButton, ._6i2 .morePlain{display:inline-block;vertical-align:top}
._6i2 .moreButton, .selected ._6i2 .morePlain{display:none}
._51l_{display:inline-block;float:left;margin-left:4px;margin-top:4px;width:48px}
._51l_ .splitpic{float:left;height:48px;overflow:hidden;width:23px}
._51l_ img{left:0;margin-left:-11px;position:static}
._51l_ .leftpic{margin-right:1px;width:24px}
._51l_ .toppic{height:23px;margin-bottom:1px}
._51l_ .bottompic{height:24px}
._51l_ .toppic img, ._51l_ .bottompic img{margin-top:-11px}
._53a9{display:inline;font-size:13px}
._55y- ._53a9{display:block}
._53aa{color:#333}
._53ab, ._57q5{color:#999}
.selected ._53ab, ._13xm ._53ab, .forceShowSubcomponents ._53ab{display:inline}
._55y_ ._53ab{display:none}
.selected._55y_ ._53ab{display:inline}
._50c9{overflow:hidden;width:auto}
._53df{left:0 !important;right:0 !important;width:auto !important}
.sidebarMode ._53df{margin-right:206px}
.sidebarMode ._58v4 ._53df{margin-left:206px;margin-right:0}
.sidebarMode ._4g5r ._53df{margin-right:0}
._50c9 ._6i1{display:block;margin:0 auto;padding-right:56px;width:981px}
#facebook .liquid ._50c9 ._6i1{width:auto}
._nli{background:#fff;border:1px solid #e1e1e1;border-color:rgba(0, 0, 0, .2);border-left:0;border-right:0;border-top:0;box-shadow:0 3px 5px 0 rgba(0, 0, 0, .25);margin-bottom:8px}
._21r{font-size:16px}
._8v2{height:0}
._3su{border-top:1px solid #e1e1e1;color:#5d5d5d;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;line-height:16px;text-align:center;text-transform:uppercase}
._7gl{margin-top:8px}
._70_{border-top:1px solid #e1e1e1;color:#5d5d5d;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;line-height:16px;padding:13px 0 11px 0;text-align:center;text-transform:uppercase}
._70_.selected{background:#ececed;color:#2b2c2b}
._70_:hover{color:#2b2c2b}
._57zy{border-top:1px solid #e1e1e1;color:#5d5d5d;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:bold;line-height:16px;text-align:center}
._57zy a{display:block;padding:13px 0 11px 0;text-decoration:none !important}
._57zy.selected{background:#ececed;color:#2b2c2b}
._57zy:hover{color:#2b2c2b}
._21f{line-height:23px;padding:8px 0}
._21f img{margin-left:12px;position:relative;top:4px}
._553e{background-color:#fff9d2;border-bottom:1px solid #f9eca5;color:#535353;font-size:14px;line-height:20px;padding:18px 0 17px 0;text-align:center}
._553f{font-size:16px;line-height:20px}
._553f ._553g{cursor:pointer;padding:18px 0 17px 60px}
._553f strong{color:#333}
._586g{overflow:hidden;position:relative}
._586f, ._586i, ._586k, ._586j{border:0;outline:1px solid rgba(0, 0, 0, 0);padding:3px;position:relative;z-index:1}
._586i, ._586k, ._586j{overflow:auto;white-space:pre-wrap}
._586k, ._586j{left:0;position:absolute;right:0;top:0;z-index:0}
._586i{cursor:text}
._586i br{display:none}
._586k{color:transparent}
._586f{width:100%}
._586g{border:1px solid #999}
._586f, ._586i{background:rgba(255, 255, 255, 0);background:transparent;color:#333}
._586j{color:#777}
._586j.child_is_focused{color:#999}
._586h{color:#999}
._586o{font-weight:bold}
._586p{height:20px}
._586p ._586f, ._586p ._586i, ._586p ._586k, ._586p ._586j{overflow:hidden;white-space:pre}
.ff4 ._586p ._586i{height:100px;overflow-x:auto}
.sp_57tkjo{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/X9akPp_Q7d4.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:29px;width:29px}
.sx_7e7dc2{background-position:0 0}
.sx_a48402{background-position:0 -30px}
.sx_8ea0c5{background-position:0 -60px}
.sx_b63fd1{background-position:0 -90px}
.sx_95c91d{background-position:0 -120px}
.sx_21970b{background-position:0 -150px}
.sx_517925{background-position:0 -180px}
.sx_5c4416{background-position:0 -210px}
.sx_61e3ab{background-position:0 -240px}
.sp_azfp3w{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/GMb4rGA10f9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:7px;width:5px}
.sx_7d2d78{width:10px;height:10px;background-position:-10px 0}
.selected .sx_7d2d78{background-position:0 0}
.sx_3ba4f4{background-position:-5px -11px}
.selected .sx_3ba4f4{background-position:0 -11px}
.sp_df2prv{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/mTVOJXodclS.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:48px;width:48px}
.sx_ee7e21{width:16px;height:9px;background-position:-18px -808px}
.sx_2a2e6e{width:17px;height:28px;background-position:0 -771px}
.sx_bd9702{background-position:0 -98px}
.sx_47dae2{background-position:0 -147px}
.sx_3b5a9f{background-position:0 -196px}
.sx_3cf1ea{background-position:0 -245px}
.sx_ef1d50{background-position:0 -294px}
.sx_c25672{background-position:0 -343px}
.sx_9835c3{background-position:0 -392px}
.sx_9bdeea{background-position:0 -441px}
.sx_245e41{background-position:0 -490px}
.sx_5b105e{background-position:0 -539px}
.sx_7dca1d{background-position:0 -588px}
.sx_8f6abe{background-position:0 -637px}
.sx_f2fac3{background-position:0 -49px}
.sx_609516{background-position:0 0}
.sx_107096{width:19px;height:19px;background-position:-16px -740px}
.sx_8ab51b{width:19px;height:20px;background-position:-16px -697px}
.sx_cdaa7f{width:14px;height:14px;background-position:0 -800px}
.sx_baeac6{width:14px;height:15px;background-position:-18px -771px}
.sx_83c3a3{width:14px;height:14px;background-position:-20px -792px}

#bootloader_lFT7R { height: 42px; }