/*1369015571,173214269*/

.uiStreamStoryHide .ogAggregationSubstoryContent{display:none}
._4d_{position:relative}
._4e0{left:8px;outline:0;opacity:0;position:absolute;top:8px;z-index:1}
._4d_:hover ._4e0{opacity:1;-moz-transition:opacity .2s}
._4f-, ._14a_{display:inline-block}
._14a_{padding-right:5px}
._14a_:first-child{padding-left:5px}
._4fx{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -35px;display:inline-block;height:13px;margin-right:2px;vertical-align:text-top;width:15px}
._4fy{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/Qdv04UHuWZa.png);background-repeat:no-repeat;background-size:auto;background-position:0 -18px;display:inline-block;height:16px;margin-right:2px;vertical-align:text-top;width:16px}
._4fz{display:none;margin:0;opacity:.5}
.comment_trigger ._4fz, ._55n8._4fz{display:inline-block}
._55n8._4fz{opacity:.3}
._55n8._4fz:hover{opacity:1.0}
._70r, ._70s, ._70t, ._70u{width:397px}
._70r .ogAggregationSubstory{width:196px}
._70s .ogAggregationSubstory{width:176px}
._70t .ogAggregationSubstory, ._70u .ogAggregationSubstory{width:129px}
._4hp{outline:0;position:relative}
._4hq{border:1px solid #e5e5e5;border-top:0;position:relative}
._4hq ._4hr{display:none;position:absolute;right:2px;top:2px;z-index:1}
._4hp:hover ._4hr{display:inline-block}
._4hq ._4hs{background:#f7f7f7;padding:7px 6px}
._4hq ._4ht{max-height:2.56em;overflow:hidden}
._4hq ._566{height:2.56em}
._4ht .ogContentTitle{padding-right:7px}
._4ht .ogContentTitle, ._4ht .ogContentTitleShort, ._4ht .ogContentDescription, ._4ht .ogContentRating{display:block}
._4ht .ogContentRating{margin-top:1px}
._4ht .ogContentTitleShort{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4hu{border-top:1px solid #e5e5e5;overflow:hidden;white-space:nowrap}
._4hv.ogAggregationBling{background-color:#fff;position:absolute;right:1px}
._4hv{padding:5px 5px 4px}
._4hv .share_action_link, ._4hv .like_link, ._4hv a{color:#6d84b4}
._93n ._93o{display:none}
._4hw{height:14px;padding-left:0;padding-right:0}
._4hw:hover{background-color:#eceff5;text-decoration:none}
._4hw .ogAggregationBlingEmpty{display:none}
._4hw.comment_trigger .ogAggregationBlingEmpty{display:inline-block}
._4hj{margin-bottom:5px;position:relative}
._4hj:last-child{margin-bottom:1px}
._4hk{float:left;margin-left:5px;position:relative}
._4hk:first-child{margin-left:0}
._4hk .ogAggregationUninterestingMenu, ._4hk .ogAggregationUninterestingMenu .uiStreamInlineReplaceList, ._4hk .ogAggregationMarkAsSpamMenu{margin-left:0;margin-right:0;padding-left:0;padding-right:0}
._4q5{left:18px;position:absolute;top:0;z-index:1}
._4q6{font-size:11px;margin-left:78px;position:relative}
.uiStreamLargeHeadline ._4q6{font-size:13px;line-height:1.38}
._4q7{font-weight:bold;position:relative}
._4hx{width:398px}
._4hx ._4hy{margin-bottom:5px;position:relative}
._4hx ._4hy:last-child{margin-bottom:0}
._90k{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0 0;padding-top:10px}
._4hx ._9el{display:none;position:absolute;right:-3px;top:8px}
._4hy:hover ._9el{display:inline-block}
._4h5{position:relative}
._4h6{height:90px;width:90px}
._4h5 .rfloat{width:100%}
._4h7{background:#f7f7f7;border:1px solid #e9e9e9;border-left:0;padding:7px 11px}
._4h8{height:74px;overflow:hidden}
._4h9{display:none;position:absolute;right:5px;top:5px}
._4ha:hover ._4h9{display:inline-block}
._4hb{margin-right:8px}
._4hc{margin-bottom:4px}
._4hd{height:3.84em;overflow:hidden}
._4he{border:1px solid #e9e9e9;border-top:0;position:relative}
._4hf{padding:5px 5px 4px}
._4hf.rfloat{overflow:hidden;max-width:280px;text-overflow:ellipsis;white-space:nowrap}
._4hf span, ._4hf a{color:#6d84b4}
._4hg{height:14px;padding-left:0;padding-right:0}
._4hg:hover{background-color:#eceff5;text-decoration:none}
._4dx ._4dy{height:0;overflow:hidden}
._4e1{display:none;margin:5px 0 0}
._4dx ._4e1{display:block}
._4e2 ._4e1{margin-bottom:-6px;text-align:center}
._4e1 img{vertical-align:1px}
._4hh{position:relative}
._4hi{margin:10px 0 0 78px}
._9-a{left:463px;position:absolute;top:4px}
._4q1{padding:10px}

#bootloader_5uHQU { height: 42px; }